/node_modules/
/vendor/
/public/build/
/public/hot
/public/storage
.env
.env.*
!.env.example
/auth.json
.phpunit.result.cache
/.phpunit.cache/
/.idea/
/.vscode/
/.DS_Store
/npm-debug.log*
/yarn-error.log*
/storage/**
!/storage/**/
!/storage/**/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/database/*.sqlite
/database/*.sqlite-*
*.pem
*.key
